<div class="w-100 border p-2">
  <h3><%= post.title %></h3>
  <div class="d-flex flex-column">
    <p class="mb-0"><%= post.text %></p>
    <p class="align-self-end m-0">
      <span><strong>Comments:</strong> <%= post.comments_counter%></span>,
      <span><strong>Likes:</strong> <%= post.likes_counter%></span>
    </p>
  </div>
</div>