<section class="d-flex flex-column gap-2">
  <%= render 'partials/user_card', user: @user%>
  <div class="w-100 border p-2">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  <% @user.recent_posts.each_with_index do |post, index|%>
    <%= render partial: 'partials/post_card', locals: {post: post, index: index+1}%>
  <% end %>
  <%= link_to "See all posts", user_posts_path(@user), class: "text-decoration-none text-dark btn border border-2 border-dark mx-auto", style: "width: fit-content" %>
</section>